// Colors
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$black-color: #000000DE;
$white-color: #FFFFFF;
$border-gray-color: #D0CFCF;
$text-gray-color: #7E7E7E;
$button-hover-color: #FFE302;
$button-disable-color: #B4B4B4;
$error-color: #CB3D40;

// Fonts
$main-font: "Nunito", sans-serif;